In [1]:
# 서식이 다르고 참조 데이터도 필요한 경우
import os
import pandas as pd

In [11]:
# 데이터 불러오기
ref_df = pd.read_csv("시승격정보.csv", encoding = "cp949")
df1 = pd.read_excel("인구수데이터.xlsx", sheet_name = "202006")
df2 = pd.read_excel("인구수데이터.xlsx", sheet_name = "201108")

<ipython-input-11-5fa3bd7e8f89>:3: FutureWarning: Your version of xlrd is 1.2.0. In xlrd >= 2.0, only the xls format is supported. As a result, the openpyxl engine will be used if it is installed and the engine argument is not specified. Install openpyxl instead.
  df1 = pd.read_excel("인구수데이터.xlsx", sheet_name = "202006")
<ipython-input-11-5fa3bd7e8f89>:4: FutureWarning: Your version of xlrd is 1.2.0. In xlrd >= 2.0, only the xls format is supported. As a result, the openpyxl engine will be used if it is installed and the engine argument is not specified. Install openpyxl instead.
  df2 = pd.read_excel("인구수데이터.xlsx", sheet_name = "201108")

In [12]:
ref_df

   승격전  승격후           승격날짜
0  여주군  여주시  2013년 09월 23일
1  당진군  당진시  2012년 01월 01일

In [13]:
df1

  행정구역    총인구수   남자인구수   여자인구수
0  여주시  111341   56582   54759
1  당진시  166084   88015   78069
2  아산시  313054  162398  150656

In [14]:
df2

  행정구역    총인구수   남자인구수   여자인구수
0  여주군  109019   55122   53897
1  아산시  271356  138150  133206
2  당진군  148175   76555   71620

In [15]:
# ref_df를 사전으로 변환
ref_dict = ref_df.set_index('승격전')['승격후'].to_dict() # 인덱스 설정 및 시리즈로 변환

In [16]:
ref_dict

{'여주군': '여주시', '당진군': '당진시'}

In [17]:
# ref_dict을 이용하여 키 변수 값 변환
df2['행정구역'] = df2['행정구역'].replace(ref_dict)
df2

  행정구역    총인구수   남자인구수   여자인구수
0  여주시  109019   55122   53897
1  아산시  271356  138150  133206
2  당진시  148175   76555   71620

In [18]:
# df1과 df2에 있는 변수명이 모두 같으므로, 변수명을 수정해야 함
df1.set_index("행정구역", inplace = True) # 행정 구역 변수명은 바꾸지 않기 위해, 인덱스로 설정
df2.set_index("행정구역", inplace = True) # 행정 구역 변수명은 바꾸지 않기 위해, 인덱스로 설정

#add_prefix를 이용해 모든 컬럼명 앞에 해당 문자열을 붙인다
df1 = df1.add_prefix("202006_")
df2 = df2.add_prefix("201108_")

In [19]:
merged_df = pd.merge(df1, df2, left_index = True, right_index = True)

In [20]:
merged_df.head()

,202006_총인구수,202006_남자인구수,202006_여자인구수,201108_총인구수,201108_남자인구수,201108_여자인구수
행정구역,,,,,,
여주시,111341,56582,54759,109019,55122,53897
당진시,166084,88015,78069,148175,76555,71620
아산시,313054,162398,150656,271356,138150,133206