In [1]:
# 서식만 다르고 참조 데이터가 필요없는 데이터 병합
# 모듈 불러오기 및 데이터 경로 설정
import os
import pandas as pd

In [2]:
df1 = pd.read_csv("날짜포맷이다른데이터1.csv")
df2 = pd.read_csv("날짜포맷이다른데이터2.csv")

In [3]:
df1.head()

           날짜        V1
0  2018-01-01  0.330646
1  2018-01-02  0.418242
2  2018-01-03  0.307254
3  2018-01-04  0.441689
4  2018-01-05  0.402440

In [4]:
df2.head()

            날짜        V2
0  2018년 1월 1일  0.936350
1  2018년 1월 2일  0.658967
2  2018년 1월 3일  0.895686
3  2018년 1월 4일  0.047194
4  2018년 1월 5일  0.520925

In [5]:
#df1의 날짜 타입을 df2의 날짜 타입으로 변경하는 함수 작성 및 적용
def date_type_converter(value):
    YYYY, MM, DD = value.split('-')
    return YYYY + "년 " + str(int(MM)) + "월 " + str(int(DD)) + "일"

df1['날짜'] = df1['날짜'].apply(date_type_converter)

In [6]:
# 데이터 병합
merged_df = pd.merge(df1, df2, on = '날짜')

In [7]:
merged_df.head()

            날짜        V1        V2
0  2018년 1월 1일  0.330646  0.936350
1  2018년 1월 2일  0.418242  0.658967
2  2018년 1월 3일  0.307254  0.895686
3  2018년 1월 4일  0.441689  0.047194
4  2018년 1월 5일  0.402440  0.520925